body {
	font-family: sans-serif;
}

.l4wCanvas {
	border: 1px solid black;
	cursor: url("/assets/pointer/sword-off.png"), pointer;
}

.l4wCanvas:active {
    cursor: url("/assets/pointer/sword-on.png"), url("/assets/pointer/sword-off.png"), pointer;
}