body {
	font-size: 100%;
}

p {
	font: 1em Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.l4wCanvas {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	cursor: url("/assets/pointer/sword-off.png"), pointer;
}

.l4wDialogFrame {
	display: none; /* TEST */ 
	position: absolute;
	margin: auto;
	width: 50%;
	left:0px;
	right: 1em;
	bottom: 1em;
	text-align: left;
	font-family: Oldenburg;
	background-color: hsl(271, 76%, 53%, 80%);
	resize: both;
	overflow: auto;
	border: 16px solid hsl(271, 76%, 53%, 80%);
	border-image: url("/assets/skin/ld3-webskin1.png") 16 16 16 16 repeat;
}

.l4wDialogHeader {
	user-select: none;
	cursor: all-scroll;
	float: left;
	padding-right: 0.5em;
	position: relative;
	color: lightgrey;
	/* background-color: hsl(240, 100%, 50%, 80%); */
}

.l4wDialogFace {
	float: left;
	width: 96px;
	height: 96px;
	background-image: url("/assets/faceset/papatine.jpg");
	border: 1px solid black;
	margin-right:1em;
}

.l4wDialogName {
	font-weight: bold;
}

.l4wDialog {
	color: black;
}

.l4wCanvas:active {
    cursor: url("/assets/pointer/sword-on.png"), url("/assets/pointer/sword-off.png"), pointer;
}

.editor {
	border: 1px solid black;
	padding: 1em;
	margin: 0.4em;
	float: left;
	user-select: none;
}

.editor:hover {
    border: 2px solid black;
    font-weight: bold;
}