body {
	font-size: 100%;
}

p {
	font: 1em Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.l4wCanvas {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	cursor: url("/assets/pointer/sword-off.png"), pointer;
}

.visibleFadeIn {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s linear;
}
  
.hiddenFadeOut {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.l4wDialogFrame {
	position: absolute;
	margin: auto;
	width: 50%;
	left:0px;
	right: 1em;
	bottom: 1em;
	text-align: left;
	text-shadow: 1px 1px 0.2em darkblue;
	color: lightgoldenrodyellow; 
	font-family: Oldenburg;
	background-image: linear-gradient(to bottom right, rgba(110, 110, 170, 0.9), rgba(41, 42, 67, 0.9));
	background-origin: border-box; /* this is needed for transparent border on gradient background */ 
	resize: both;
	overflow: auto;
	border-image: url("/assets/skin/ld3-webskin1.png") 16 16 16 16 repeat;
	border-width: 16px;
	border-style: solid;
}

.l4wDialogHeader {
	user-select: none;
	cursor: all-scroll;
	float: left;
	padding-right: 0.5em;
	position: relative;
	color: lightgoldenrodyellow;
	/* background-color: hsl(240, 100%, 50%, 80%); */
}

.l4wDialogFace {
	float: left;
	width: 96px;
	height: 96px;
	background-image: url("/assets/faceset/papatine.jpg");
	border: 1px solid black;
	margin-right:1em;
}

.l4wDialogName {
	font-weight: bold;
}

.dialogEdgeArea {
	margin: 0.5em;
}

.l4wDialogEdge {
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-style: italic;
	cursor: pointer;
}

.l4wDialogEdge:before {
    content: ">";
    margin-right: 6px;
}

.l4wDialogEdge:hover {
	/*
	border: 1px solid black;
	border-radius: 0.5em;
	*/
	text-shadow: 0px 0px 0.5em yellow;
}

.l4wCanvas:active {
    cursor: url("/assets/pointer/sword-on.png"), url("/assets/pointer/sword-off.png"), pointer;
}

.editor {
	border: 1px solid black;
	padding: 1em;
	margin: 0.4em;
	float: left;
	user-select: none;
}

.editor:hover {
    border: 2px solid black;
    font-weight: bold;
}