/************ Common styles ************/
html {
	height: 100%;
}
body {
	font-family: Oldenburg, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-display: swap;
	margin: 0px;
	height: 100%;
	text-align: center;
}
input {
	font-family: Oldenburg, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-display: swap;
}
button {
	font-family: Oldenburg, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-display: swap;
	border-radius: 4px;
}
select {
	font-family: Oldenburg, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-display: swap;
}
.footer {
	visibility: hidden;
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	display: table;
	background-color: rgba(255,255,255,0.6);
}
/* latin-ext */
@font-face {
	font-family: "Oldenburg";
	font-style: normal;
	font-weight: 400;
	src: local("Oldenburg"), local("Oldenburg-Regular"), url(/style/font/oldenburg_latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: "Oldenburg";
	font-style: normal;
	font-weight: 400;
	src: local("Oldenburg"), local("Oldenburg-Regular"), url(/style/font/oldenburg_latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/************ Utility classes ************/
.selectAll {
	-webkit-user-select: all;  /* Chrome all / Safari all */
	-moz-user-select: all;     /* Firefox all */
	-ms-user-select: all;      /* IE 10+ */
	user-select: all;          /* Likely future */  
}
.bordered {
	border: 1px solid black;
}
.transparent {
	background-color: transparent !important;
}
/************ Game styles ************/
@keyframes looseFocus {
	0% {
		-webkit-filter: blur(0px) grayscale(0%);
		-moz-filter: blur(0px) grayscale(0%);
		-moz-filter: blur(0px) grayscale(0%);
		-ms-filter: blur(0px) grayscale(0%);
		-o-filter: blur(0px) grayscale(0%);
		filter: blur(0px) grayscale(0%);		
	}
}
.bg-image {
	position: absolute;
	background-image: url("/assets/picture/background2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* 1% clipped border, in order to hide the blurred white edge */
	left: -2%;
	top: -2%;
	height: 102%;
	width: 102%;

	animation: 2s ease-in 0s 1 looseFocus;

	-webkit-filter: blur(5px) grayscale(20%);
	-moz-filter: blur(5px) grayscale(20%);
	-moz-filter: blur(5px) grayscale(20%);
	-ms-filter: blur(5px) grayscale(20%);
	-o-filter: blur(5px) grayscale(20%);
	filter: blur(5px) grayscale(20%);
}
.l4wCanvas {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	cursor: url("/assets/pointer/sword-off.png"), pointer;
}
.l4wCanvas:active {
    cursor: url("/assets/pointer/sword-on.png"), url("/assets/pointer/sword-off.png"), pointer;
}
.visibleFadeIn {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s linear;
}
.hiddenFadeOut {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.2s, opacity 0.2s linear;
}
/* Generic dialog widget */
.l4wPanel {
	z-index: 1; /* Need to be above the canvas */
	position: absolute;
	margin: auto;
	text-align: left;
	text-shadow: 1px 1px 0.2em darkblue;
	color: lightgoldenrodyellow; 
	font-family: Oldenburg, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-display: swap;
	overflow: auto;
	background-image: linear-gradient(to bottom right, rgba(110, 110, 170, 0.9), rgba(41, 42, 67, 0.9));
	background-origin: border-box; /* this is needed for transparent border on gradient background */ 
	border-image: url("/assets/skin/ld3-webskin1.png") 16 16 16 16 repeat;
	border-width: 16px;
	border-style: solid;
}
/* Menu panel */
.l4wMenuFrame {
	right: 1em;
	top: 1em;
	/* Uselectable, to avoid annoyances on mobile */
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Dialog panel */
.l4wDialogFrame {
	width: 50%;
	left:0px;
	right: 1em;
	bottom: 1em;
	resize: both;
	font-size: x-large;
}
.l4wDialogHeader {
	user-select: none;
	cursor: all-scroll;
	float: right;
	padding-right: 0.5em;
	position: relative;
	color: lightgoldenrodyellow;
	/* background-color: hsl(240, 100%, 50%, 80%); */
}
.l4wDialogFace {
	float: left;
	width: 96px;
	height: 96px;
	background-image: url("/assets/faceset/palpatine.jpg");
	border: 1px solid black;
	margin-right:1em;
}
.l4wDialogName {
	font-weight: bold;
}
.dialogEdgeArea {
	margin: 0.5em;
}
.l4wDialogEdge {
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-style: italic;
	cursor: pointer;
}
.l4wDialogEdge:before {
    content: ">";
    margin-right: 6px;
}
.l4wDialogEdge:hover {
	/*
	border: 1px solid black;
	border-radius: 0.5em;
	*/
	text-shadow: 0px 0px 0.5em yellow;
}
/************ Editor hub page ***********/
.editor{
	border: 1px solid black;
	padding: 1em;
	margin: 0.4em;
	float: left;
	user-select: none;
}
.editor:hover{
    border: 2px solid black;
    font-weight: bold;
}
/************ Editors styles ************/
.editorPanelColumn{
	background-color:white;
	float:right;
	position:relative;
	min-width: 18em;
}
.dialogSummary{
	text-align: left;
	padding: 0.5em;
	min-width: 30em;
}
.dialogEditor{
	padding: 0.5em;
	min-width: 25em;
	display: none;
}