<!DOCTYPE html>
<html lang="en">
<head>
	<title>L4W Game engine</title>
	
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>
	<meta name="description" content="An engine + editor for tile-based web games">
	<meta name="keywords" content="JavaScript, TypeScript, Vue, Node, game, engine, editor, rpg">
	<meta name="theme-color" content="#ffffff">

	<link rel="preload" href="/style/l4w.css" as="style">

	<link rel='icon' href='/style/favicon/game.ico' />
	<link rel="manifest" href="/data/configuration/manifest.json"> 
	<link rel="stylesheet" type="text/css" href="/style/l4w.css" >

	<script src="/lib/require.min.js" async></script>

	<script type='text/javascript'>
var base_path = "./";
let isDevEnv = () => { return location.hostname === "localhost" || location.hostname === "127.0.0.1" || location.hostname === ""; }

window.onload = () => {
	if(isDevEnv()) {
		// Enable offline local development by using local files instead of CDNs
		requirejs(["lib/jquery3.min"],function($){
			requirejs(["lib/jquery-ui.min.js", "js/l4w-game.min"],function(l4w){
				finishedLoading();
			});
		});
	} else {
		//TODO check Sub Resource Integrity
		requirejs(["https://code.jquery.com/jquery-3.4.1.min.js"],function($){
			requirejs(["https://code.jquery.com/ui/1.12.1/jquery-ui.min.js", "js/l4w-game.min"],function(l4w){
				finishedLoading();
			});
		});
	}

	function finishedLoading(){
		let canvas = document.getElementById("canvas1");
	    L4W_game.Game.start(canvas);
	};
}
	</script>
</head>
<body>
	<div>
		<div class="bg-image"></div>

		<div class="l4wPanel l4wMenuFrame">
			<div id="loginVue">
				<login>
					<template v-slot:logged>
						<button onclick="L4W_game.Game.save()">Save</button>
						<button onclick="L4W_game.Game.load()">Load</button>
					</template>
					<template v-slot:unlogged>
					</template>
				</login>
			</div>
			<p>
				<select id="comboLang" onchange="L4W_game.Game.changeLanguage()"></select>
			</p>
			<p>
				<select id="comboScreen" onchange="L4W_game.Game.changeScreen()">
					<option value="apt" selected>Adapt to window</option>
					<option value="nat">Fixed size</option>
					<option value="nat2">Fixed size x2</option>
				</select>
				<br/>
				<input id="checkFullscreen" onchange="L4W_game.Game.changeFullscreen()" type="checkbox">FullScreen</input>
				<br/>
				<input id="checkAntialiasing" onchange="L4W_game.Game.changeAntialiasing()" type="checkbox" checked>Antialiasing</input>
			</p>
		</div>
		<div id="canvasArea">
			<canvas id="canvas1" width="672" height="512">
			Your browser does not support HTML5 Canvas!
			</canvas>
			<div id="dialog1" class="l4wPanel l4wDialogFrame hiddenFadeOut" style="visibility:hidden">
				<div id="dialog1Header" class="l4wDialogHeader">
					&#x205e;&#x205e;&#x205e;	
				</div>
				<div id="dialogFace" class="l4wDialogFace"></div>
				<span id="dialogName" class="l4wDialogName">Sheev Palpatine</span>:
				<span id="dialogArea" class="l4wDialog">
				Did you ever hear the tragedy of Darth Plagueis the Wise?
				I thought not. It's not a story the Jedi would tell you. It's a Sith legend. 
				Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life...
				He had such a knowledge of the dark side that he could even keep the ones he cared about from dying.
				The dark side of the Force is a pathway to many abilities some consider to be unnatural.
				He became so powerful... the only thing he was afraid of was losing his power, which eventually, of course, he did.
				Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep.
				It's ironic he could save others from death, but not himself.
				</span>
				<div id="dialogEdgeArea" class="dialogEdgeArea">
					<div id="dialogEdge1" class="l4wDialogEdge">Tell me more...</div>
					<div id="dialogEdge2" class="l4wDialogEdge">Die, Sith scum!</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer" class="footer">
		Editors: <a href="/edit">/edit</a><br>
		Commands: <a href="https://github.com/giovannipessiva/l4w/wiki/Editors">https://github.com/giovannipessiva/l4w/wiki/Editors</a><br>
		Source code: <a href="https://github.com/giovannipessiva/l4w">https://github.com/giovannipessiva/l4w</a><br>
		<br>
		<div  name="bugReporting" class="bordered">
			<div id="bugReportingVue">
				<bug-reporting/>
			</div>
		</div>
	</div>
	
		<script type='text/javascript'>	
let canvas = document.getElementById("canvas1");
let ctx = canvas.getContext("2d");
ctx.fillStyle='#000000';
ctx.font='38px Arial';
ctx.fillText("loading scripts...",10,40);

// Copy-pasted from: https://www.w3schools.com/howto/howto_js_draggable.asp
//Make the DIV element draggagle:
dragElement(document.getElementById("dialog1"));

function dragElement(elmnt) {
	var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
	if (document.getElementById(elmnt.id + "Header")) {
		/* if present, the header is where you move the DIV from:*/
		document.getElementById(elmnt.id + "Header").onmousedown = dragMouseDown;
	} else {
		/* otherwise, move the DIV from anywhere inside the DIV:*/
		elmnt.onmousedown = dragMouseDown;
	}

	function dragMouseDown(e) {
		e = e || window.event;
		e.preventDefault();
		// get the mouse cursor position at startup:
		pos3 = e.clientX;
		pos4 = e.clientY;
		document.onmouseup = closeDragElement;
		// call a function whenever the cursor moves:
		document.onmousemove = elementDrag;
	}

	function elementDrag(e) {
		e = e || window.event;
		e.preventDefault();
		// calculate the new cursor position:
		pos1 = pos3 - e.clientX;
		pos2 = pos4 - e.clientY;
		pos3 = e.clientX;
		pos4 = e.clientY;
		// set the element's new position:
		elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
		elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
		// Secret sauce fox fixing my use case
		elmnt.style.margin="0px";
	}

	function closeDragElement() {
		/* stop moving when mouse button is released:*/
		document.onmouseup = null;
		document.onmousemove = null;
	}
}
	</script>
</body>
</html>