<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>L4W Editor</title>
<meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>
<link rel='icon' href='style/favicon/edit.ico' />
<link href="https://fonts.googleapis.com/css?family=Oldenburg" rel="stylesheet"> 

<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" type="text/css" href="../style/l4w.css">

</head>
<body>
<div style="position:fixed;top:10px;left:10px;">
    <a href="edit/maps" class="editor">Map</a>
    <a href="edit/tilesets" class="editor">Tileset</a>
    <br/>
    <a href="test" class="editor">Test page</a>
</div>
</body>
</html>