<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>L4W Mapper</title>
<meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>
<link rel='icon' href='../style/favicon/edit.ico' />

<meta name="theme-color" content="#ffffff">

<script src="../lib/require.min.js"></script>

<script type='text/javascript'>
var base_path = "../";
let isDevEnv = () => { return location.hostname === "localhost" || location.hostname === "127.0.0.1" || location.hostname === ""; }

if(isDevEnv()) {
	// Enable offline local development by using local files instead of CDNs
	requirejs([base_path + "lib/jquery3.min"],function($){
		requirejs([base_path + "lib/jstree.min.js"],function(jstree){
			requirejs([base_path + "js/l4w-mapper.min"],function(l4w){
				finishedLoading();
			});
		});
	});
} else {
	//TODO check Sub Resource Integrity
	requirejs(["https://code.jquery.com/jquery-3.4.1.min.js"],function($){
		requirejs(["https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.9/jstree.min.js"],function(jstree){
			requirejs([base_path + "js/l4w-mapper.min"],function(l4w){
				finishedLoading();
			});
		});
	});
}

function finishedLoading(){	
	L4W_mapper.MapperPage.start();
	document.getElementById("footer").style.visibility = "visible";
};
</script>

<link rel="stylesheet" type="text/css" href="../style/jstree/style.min.css">
<link rel="stylesheet" type="text/css" href="../style/l4w.css">

</head>
<body>
<div style="position:fixed;top:10px;left:10px;">
	<div id="canvasArea" style="display:block">
		<canvas id="canvas1" width="672" height="512" style="border:1px solid black">
		Your browser does not support HTML5 Canvas!</canvas>
			
		<script>
			let canvas = document.getElementById('canvas1');
			let ctx = canvas.getContext('2d');
			ctx.fillStyle='#000000';
			ctx.font='38px Oldenburg';
			ctx.fillText("Loading...",10,40);
		</script>
	</div>
	<div id="footer" class="footer">
		Game: <a href="/">/</a><br/>
		Editors: <a href="/edit">/edit</a><br/>
		Test: <a href="/test">/test</a><br/>
		Commands: <a href="https://github.com/giovannipessiva/l4w/wiki/Editors">https://github.com/giovannipessiva/l4w/wiki/Editors</a><br/>
		Source code: <a href="https://github.com/giovannipessiva/l4w">https://github.com/giovannipessiva/l4w</a>
	</div>
</div>
<div id="dialogPanel" class="editorPanelColumn transparent" style="display:none">
	<div id="dialogEditPanel" class="editorPanelColumn dialogEditor bordered">
		<div id="dialogEditorVue">
			<dialog-editor :node="root" :dialog="dialog" :node-ids="nodeIds" :edge-ids="edgeIds" :disconnected-nodes="disconnectedNodes"/>
		</div>
	</div>
	<!-- Dialog summary, with selectable rows -->
	<div id="dialogSummaryPanel" class="editorPanelColumn dialogSummary bordered">
		<div id="dialogSummaryVue">
			<dialog-summary :node="root" :selected-node-id="selectedNodeId"/>
		</div>
	</div>
</div>
<div id="toolsPanel" class="editorPanelColumn">
	<div style="border:1px solid black">
		<div id="loginVue">
			<login>
				<template v-slot:logged>
					<table>
						<tr>
						<td><button id="saveButton" type="button" onclick="L4W_mapper.MapperPage.save();" disabled>Save</button></td>
						<td><button id="reloadButton" type="button" onclick="L4W_mapper.MapperPage.reload();" disabled>Reload</button></td>
						</tr>
					</table>
				</template>
			</login>
		</div>
	</div>
	<div style="border:1px solid black">
		<table>
			<tr><td id="mapPanel"></td>
		</table>
	</div>
	<div id="mapDetailPanel" style="display:none;border:1px solid black">
		<table style="width:100%">
			<tr>
				<td>Tile</td>
				<td>
					<select id="tiles" onchange="L4W_mapper.MapperPage.changeTile();"></select>
				</td>
			</tr>
			<tr>
				<td>Size</td>
				<td>
					<input id="mapSizeW" type="number" name="width" min="1" max="999" step="1" style="width:3em">
					 x 
					<input id="mapSizeH" type="number" name="width" min="1" max="999" step="1" style="width:3em">
					<button type="submit" onclick="L4W_mapper.MapperPage.changeSize();">Resize</button>
				</td>
			</tr>
		</table>
	</div>
	<div style="border:1px solid black">
		-<input id="zoom" type="range" min="0" max="3" step="1" value="3">+
		<table style="width:100%">
			<tr>
				<td><button id="mode0" type="button" onclick="L4W_mapper.Mapper.setMode(L4W_mapper.Constant.EditMode.APPLY);">Apply</button></td>
				<td><button id="mode1" type="button" onclick="L4W_mapper.Mapper.setMode(L4W_mapper.Constant.EditMode.ERASE);">Erase</button></td>
				<td></td>
				<td><button id="mode2" type="button" onclick="L4W_mapper.Mapper.setMode(L4W_mapper.Constant.EditMode.EVENTS);">Events</button></td>
			</tr>
		</table>
		<table id="layersPanel" style="width:100%">
			<tr>
				<td><button id="layer0" type="button" onclick="L4W_mapper.Mapper.setActiveLayer(L4W_mapper.Constant.MapLayer.LOW);">Low</button></td>
				<td><button id="layer1" type="button" onclick="L4W_mapper.Mapper.setActiveLayer(L4W_mapper.Constant.MapLayer.MID);">Mid</button></td>
				<td><button id="layer2" type="button" onclick="L4W_mapper.Mapper.setActiveLayer(L4W_mapper.Constant.MapLayer.TOP);">Top</button></td>
			</tr>
		</table>
	</div>
	<div id="tilePanel" style="border:1px solid black;position: relative;">
		<canvas id="canvasTile" width="256" height="800" style="position:absolute;left:0;top:0;z-index:0">
		Your browser does not support HTML5 Canvas!</canvas>
		
		<canvas id="canvasSelector" width="256" height="800" style="position:absolute;left:0;top:0;z-index:0.1;opacity:1;">
		Your browser does not support HTML5 Canvas!</canvas>
	</div>
	<div id="eventEditorVue">
		<event-editor />
	</div>
	
</div>
</body>
</html>