<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy</title>
    <meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>

    <link rel='icon' href='style/favicon/game.ico' />

    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <h1>Privacy</h1>
    <p>No personal data will be collected, o communicated to third parties.</p>
    <p>Conditions are available here: <a href="https://github.com/giovannipessiva/l4w/blob/master/LICENSE">https://github.com/giovannipessiva/l4w/blob/master/LICENSE</a></p>
</body>
</html>