<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy</title>
    <meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>

    <link rel='icon' href='style/favicon/game.ico' />

    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <h1>Privacy</h1>
    <p>
        By logging in with Google or Facebook, the user email address will be read, encoded with <a href="https://en.wikipedia.org/wiki/Bcrypt">Bcrypt</a>, and stored in hash format.
        <ul>
            <li>Email address is only used for generating the hash string necessary for identifying the user's gave saves, and game data.</li>
            <li>The plaintext email address will not be stored, wrote on logs, transmitted to any third parties, or used for sending mails</li>
            <li>Aside from the email address, no other personal data will be read</li>
        </ul> 
    </p>
    <p>
        <a href="https://www.iubenda.com/privacy-policy/68209145" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a>
        <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </p>
    <p>Detailed conditions are available here: <a href="https://github.com/giovannipessiva/l4w/blob/master/LICENSE">https://github.com/giovannipessiva/l4w/blob/master/LICENSE</a></p>
</body>
</html>