<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy</title>
    <meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>

    <link rel='icon' href='style/favicon/game.ico' />

    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <h1>Privacy</h1>
    <p>
        <b>TL;DR</b> No personal data will be collected, o communicated to third parties.<br>
        <a href="https://www.iubenda.com/privacy-policy/68209145" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a>
        <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </p>
    
    <p>Conditions are available here: <a href="https://github.com/giovannipessiva/l4w/blob/master/LICENSE">https://github.com/giovannipessiva/l4w/blob/master/LICENSE</a></p>
</body>
</html>