<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>L4W Mapper</title>
<meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>

<!-- Disable cache (only for developement stage) -->
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>

<script type="text/javascript" src="js/l4w.min.js"></script>
<script src="lib/jquery.js"></script>
<script src="lib/tree.jquery.js"></script>
<link rel="stylesheet" type="text/css" href="style/jqtree.css">

</head>
<body onload="start()">
<div style="position:relative;margin-left:auto;margin-right:auto;">
<canvas id="canvas1" class="l4wCanvas" width="672" height="512" style="border:1px solid black">
Your browser does not support HTML5 Canvas!</canvas>

<script type='text/javascript'>
	var canvas = document.getElementById('canvas1');
	var ctx = canvas.getContext('2d');
	ctx.fillStyle='#000000';
	ctx.font='bold 38px Arial';
	ctx.fillText("loading...",10,20);
		
	function start() {
		$.getJSON(
		    'data/map/test.json',
		    function(dat) {
		        $('#mapPanel').tree({
		            data: dat,
		            autoOpen: 1,
		    		dragAndDrop: true
		        });
		    }
		);
			
		Mapper.start(canvas);
	}
</script>

</div>

<div style="float:right;position:relative;margin-right:0;width:20%">
	<div style="border:1px solid black">
	-<input id="zoom" type="range" min="0" max="3" step="1" value="3">+
	</div>
	<div style="border:1px solid black">
		<table>
		<tr><td><button type="button">A1</button></td><td><button type="button">A2</button></td></tr>
		<tr><td><button type="button">B1</button></td><td><button type="button">B2</button></td></tr>
		<tr><td><button type="button">C1</button></td><td><button type="button">C2</button></td></tr>
		<tr><td><button type="button">D1</button></td><td><button type="button">D2</button></td></tr>
		</table>
	</div>
	<div style="border:1px solid black">
		<div id="mapPanel"></div>
	</div>
</div>
</body>
</html>
