<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>L4W Mapper</title>
<meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>
<link rel='icon' href='style/favicon/edit.ico' />

<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="106250700124-f3tm8cc2l6raccir6e5fi9osccuvhaj0.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script src="lib/require.js"></script>
<script type='text/javascript'>
requirejs(["lib/jquery"],function($){
    requirejs(["lib/jstree"],function(jstree){
        requirejs(["js/l4w.min"],function(l4w){
            finishedLoading();
        },function(err){
            // If min version is unavailable, use the full version
            console.log("Minified version unavailable, using full script");
            requirejs(["js/l4w"],function(l4w){
                finishedLoading();
            });
        });
    });
});

function finishedLoading(){
    EditPage.start();
};

function signOut() {
	var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
		window.location = "logout";
    });
}
</script>

<link rel="stylesheet" type="text/css" href="style/jstree/style.min.css">
<link rel="stylesheet" type="text/css" href="style/l4w.css">

</head>
<body>
<div style="float:left;position:relative;margin-left:auto;margin-right:auto;">
	<canvas id="canvas1" width="672" height="512" style="border:1px solid black">
	Your browser does not support HTML5 Canvas!</canvas>
		
	<script type='text/javascript'>
	var canvas = document.getElementById('canvas1');
	var ctx = canvas.getContext('2d');
	ctx.fillStyle='#000000';
	ctx.font='38px Arial';
	ctx.fillText("loading scripts...",10,40);
	</script>

</div>
<div id="toolsPanel" style="float:right;position:relative;margin-right:0;width:256px">
	<div style="border:1px solid black">
		<div id="news" />
		<div style="display:none" class="g-signin2"></div>
		<button onclick="signOut();">Sign out</button>
	</div>
	<div style="border:1px solid black">
	-<input id="zoom" type="range" min="0" max="3" step="1" value="3">+
	</div>
	<div style="border:1px solid black">
		<table>
		<tr><td><button type="button">A1</button></td><td><button type="button">A2</button></td><td><button type="button">A3</button></td><td><button type="button">A4</button></td></tr>
		<tr><td><button type="button">B1</button></td><td><button type="button">B2</button></td><td><button type="button">B3</button></td><td><button type="button">B4</button></td></tr>
		<tr><td><button type="button">C1</button></td><td><button type="button">C2</button></td><td><button type="button">C3</button></td><td><button type="button">C4</button></td></tr>
		<tr><td><button type="button">D1</button></td><td><button type="button">D2</button></td><td><button type="button">D3</button></td><td><button type="button">D4</button></td></tr>
		</table>
	</div>
	<div id="tilePanel" style="border:1px solid black;position: relative;">
		<canvas id="canvasTile" width="256" height="800" style="position:absolute;left:0;top:0;z-index:0">
		Your browser does not support HTML5 Canvas!</canvas>
		
		<canvas id="canvasSelector" width="256" height="800" style="position:absolute;left:0;top:0;z-index:1;opacity:1;">
		Your browser does not support HTML5 Canvas!</canvas>
	</div>
	<div style="border:1px solid black">
		<table>
		<tr><td id="mapPanel"></td>
		</table>
	</div>
	<div id="mapDetailPanel" style="display:none;border:1px solid black">
	<table>
	<tr>
		<td>Tile</td>
		<td>
			<select id="tiles" onchange="EditPage.changeTile();"></select>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>Size</td>
		<td>
			<input id="mapSizeW" type="number" name="width" min="21" max="999" step="1" style="width:3em">
			 x 
			<input id="mapSizeH" type="number" name="width" min="16" max="999" step="1" style="width:3em">
		</td>
		<td>
			<button type="submit" onclick="EditPage.changeSize();">&#8634;</button>
		</td>
	</tr>
	</table>
	</div>
</div>
</body>
</html>