<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>L4W</title>
<meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>
<link rel='icon' href='style/favicon/game.ico' />

<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="106250700124-f3tm8cc2l6raccir6e5fi9osccuvhaj0.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js"></script>
<script type='text/javascript'>
requirejs(["https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js","https://apis.google.com/js/platform.js"],function($){
    requirejs(["https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js","js/l4w.min"],function(l4w){
        finishedLoading();
    },function(err){
        // If min version is unavailable, use the full version
        requirejs(["js/l4w"],function(l4w){
            finishedLoading();
        });
    });
});

function finishedLoading(){
    Game.start(canvas);
};

function signOut() {
	var auth2 = gapi.auth2.getAuthInstance();
	auth2.signOut().then(function () {
		window.location = "./?logout=1";
	});
}
</script>

<link rel="stylesheet" type="text/css" href="style/l4w.css">

</head>
<body>
	<div style="text-align:center">
		<div style="border:1px solid black;float:left;padding:1em;">
			Bentornato!<br/>
			<button onclick="signOut();">Sign out</button><br/>
			<button onclick="Game.save()">Save</button><button onclick="Game.load()">Load</button>
			<!-- The button is required for initialization purposes -->
			<div style="display:none" class="g-signin2" data-onsuccess="function(){}"></div>
		</div>
		<canvas id="canvas1" class="l4wCanvas" width="672" height="512">
		Your browser does not support HTML5 Canvas!</canvas>
		<script type='text/javascript'>	
			var canvas = document.getElementById("canvas1");
			var ctx = canvas.getContext("2d");
			ctx.fillStyle='#000000';
			ctx.font='38px Arial';
		    ctx.fillText("loading scripts...",10,40);
		</script>
	</div>
	<p>
		Mapper: <a href="edit">/edit</a><br/>
		Commands: <a href="https://github.com/giovannipessiva/l4w/wiki/Game">https://github.com/giovannipessiva/l4w/wiki/Game</a>
	</p>
</body>
</html>
