<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>L4W</title>
<meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>

<link rel='icon' href='style/favicon/game.ico' />
<link rel="manifest" href="style/manifest.json"> 
<link href="https://fonts.googleapis.com/css?family=Oldenburg" rel="stylesheet"> 

<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="106250700124-f3tm8cc2l6raccir6e5fi9osccuvhaj0.apps.googleusercontent.com">
<meta name="theme-color" content="#ffffff">

<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
var base_path = "./";

	function onSignIn(googleUser) {
      	document.getElementById("login").style.display="none";
        
        var f = document.createElement("form");
		f.setAttribute("method","post");
		f.setAttribute("action",".");
        var i;
        
        i = document.createElement("input");
		i.setAttribute("type","text");
		i.setAttribute("name","token");
		i.setAttribute("value",googleUser.getAuthResponse().id_token);
		f.appendChild(i);

		f.style.display="none";
		document.body.appendChild(f);
		f.submit();
	};

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-18315891-3', 'auto');
ga('send', 'pageview');

</script>

<script src="lib/require.min.js" async></script>
<script type='text/javascript'>
window.onload = function(){
	requirejs(["lib/jquery3.min.js"],function($){
	    requirejs(["lib/jquery-ui.min.js","js/l4w-client.min"],function(l4w){
	        finishedLoading();
	    },function(err){
	        // If min version is unavailable, use the full version
	        requirejs(["js/l4w-client"],function(l4w){
	            finishedLoading();
	        });
	    });
	});
	
	function finishedLoading(){
		let canvas = document.getElementById("canvas1");
	    Game.start(canvas);
	};
}
</script>

<link rel="stylesheet" type="text/css" href="style/l4w.css">

</head>
<body>
	<div style="text-align:center">
		<div style="border:1px solid black;float:left;padding:1em;">
			Benvenuto!<br/>
			<div id="login" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
		</div>
		<div id="canvasArea">
			<canvas id="canvas1" class="l4wCanvas" width="672" height="512">
			Your browser does not support HTML5 Canvas!
			</canvas>
			<div id="dialog1" class="l4wDialogFrame">
				<div id="dialog1Header" class="l4wDialogHeader">
					&#x205e;&#x205e;&#x205e;	
				</div>
				<div id="dialogFace" class="l4wDialogFace"></div>
				<span id="dialogName" class="l4wDialogName">Sheev Palpatine</span>:
				<span id="dialogArea" class="l4wDialog">
				Did you ever hear the tragedy of Darth Plagueis the Wise?
				I thought not. It's not a story the Jedi would tell you. It's a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life... He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so powerful... the only thing he was afraid of was losing his power, which eventually, of course, he did. Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. It's ironic he could save others from death, but not himself.
				</span>
				<div id="dialogEdgeArea" class="dialogEdgeArea">
					<div id="dialogEdge1" class="l4wDialogEdge">Tell me more...</div>
					<div id="dialogEdge2" class="l4wDialogEdge">Die, you Sith scum</div>
				</div>
			</div>
		</div>
	</div>
	<p>
		Editors: <a href="edit">/edit</a><br/>
		Test page: <a href="test">/test</a><br/>
		Commands: <a href="https://github.com/giovannipessiva/l4w/wiki/Game">https://github.com/giovannipessiva/l4w/wiki/Game</a>
	</p>

	
		<script type='text/javascript'>	
let canvas = document.getElementById("canvas1");
let ctx = canvas.getContext("2d");
ctx.fillStyle='#000000';
ctx.font='38px Arial';
ctx.fillText("loading scripts...",10,40);

// Copy-pasted from: https://www.w3schools.com/howto/howto_js_draggable.asp
//Make the DIV element draggagle:
dragElement(document.getElementById("dialog1"));

function dragElement(elmnt) {
	var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
	if (document.getElementById(elmnt.id + "Header")) {
		/* if present, the header is where you move the DIV from:*/
		document.getElementById(elmnt.id + "Header").onmousedown = dragMouseDown;
	} else {
		/* otherwise, move the DIV from anywhere inside the DIV:*/
		elmnt.onmousedown = dragMouseDown;
	}

	function dragMouseDown(e) {
		e = e || window.event;
		e.preventDefault();
		// get the mouse cursor position at startup:
		pos3 = e.clientX;
		pos4 = e.clientY;
		document.onmouseup = closeDragElement;
		// call a function whenever the cursor moves:
		document.onmousemove = elementDrag;
	}

	function elementDrag(e) {
		e = e || window.event;
		e.preventDefault();
		// calculate the new cursor position:
		pos1 = pos3 - e.clientX;
		pos2 = pos4 - e.clientY;
		pos3 = e.clientX;
		pos4 = e.clientY;
		// set the element's new position:
		elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
		elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
		// Secret sauce fox fixing my use case
		elmnt.style.margin="0px";
	}

	function closeDragElement() {
		/* stop moving when mouse button is released:*/
		document.onmouseup = null;
		document.onmousemove = null;
	}
}
	</script>
</body>
</html>