<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>L4W</title>
<meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>

<!-- Disable cache (only for developement stage) -->
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>

<script type="text/javascript" src="js/l4w.min.js"></script>
</head>
<body>
<div style="position:relative;margin-left:auto;margin-right:auto;">
<canvas id="canvas1" class="l4wCanvas" width="672" height="512" style="border:1px solid black">
Your browser does not support HTML5 Canvas!</canvas>
<script type='text/javascript'>	
	var canvas = document.getElementById('canvas1');
	var ctx = canvas.getContext('2d');
	ctx.fillStyle='#000000';
	ctx.font='bold 38px Arial';
	ctx.fillText("loading...",10,50);
	
	document.addEventListener("DOMContentLoaded", start);
	
	function start() {
		Main.start(canvas);
	}
</script> 
</div>
</body>
</html>
