<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>L4W</title>
<meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>

<script src="lib/require.js"></script>
<script type='text/javascript'>
requirejs(["lib/jquery"],function($){
    requirejs(["js/l4w.min"],function(l4w){
        finishedLoading();
    },function(err){
        // If min version is unavailable, use the full version
        requirejs(["js/l4w"],function(l4w){
            finishedLoading();
        });
    });
});

function finishedLoading(){
    Game.start(canvas);
};
</script>

<link rel="stylesheet" type="text/css" href="style/l4w.css">

</head>
<body>
<div style="position:relative;margin-left:auto;margin-right:auto;">
<canvas id="canvas1" class="l4wCanvas" width="672" height="512">
Your browser does not support HTML5 Canvas!</canvas>
<script type='text/javascript'>	
	var canvas = document.getElementById('canvas1');
	var ctx = canvas.getContext('2d');
	ctx.fillStyle='#000000';
	ctx.font='38px Arial';
    ctx.fillText("loading scripts...",10,40);
</script> 
</div>
</body>
</html>
