<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>L4W Editor</title>
<meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>
<link rel='icon' href='style/favicon/edit.ico' />
<link href="https://fonts.googleapis.com/css?family=Oldenburg" rel="stylesheet"> 

<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="106250700124-f3tm8cc2l6raccir6e5fi9osccuvhaj0.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="theme-color" content="#ffffff">

<script type='text/javascript'>
function signOut() {
	var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
		window.location = "logout";
    });
}

// I dont really need this in my life
/*
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-18315891-3', 'auto');
ga('send', 'pageview');
*/
</script>

<link rel="stylesheet" type="text/css" href="../style/l4w.css">

</head>
<body>
<div style="position:fixed;top:10px;left:10px;">
    <a href="edit/maps" class="editor">Map</a>
    <a href="edit/tilesets" class="editor">Tileset</a>
    <br/>
    <a href="test" class="editor">Pathfinding Test</a>
</div>
</body>
</html>