<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>L4W Test page</title>
<meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>
<link rel='icon' href='style/favicon/test.ico' />
<link href="https://fonts.googleapis.com/css?family=Oldenburg" rel="stylesheet"> 

<meta name="theme-color" content="#ffffff">

<script src="lib/require.min.js" async></script>
<script type='text/javascript'>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-18315891-3', 'auto');
ga('send', 'pageview');

var base_path = "./";

window.onload = function(){
	requirejs(["lib/jquery3.min.js"],function($){
	    requirejs(["lib/jquery-ui.min.js","js/l4w-tester.min"],function(l4w){
	        finishedLoading();
	    },function(err){
	        // If full version version (better for test) is unavailable, use the minified
	        requirejs(["js/l4w-tester"],function(l4w){
	            finishedLoading();
	        });
	    });
	});
}
	
function finishedLoading(){
	drawMap();
};

var stopMovement;
var blocks;
const BLOCK = 15;

function drawMap() {
	let eventX = parseInt(document.getElementById("eventX").value);
	let eventY = parseInt(document.getElementById("eventY").value);
	let targetX = parseInt(document.getElementById("targetX").value);
	let targetY = parseInt(document.getElementById("targetY").value);
	let tableWidth = parseInt(document.getElementById("width").value);
	let tableHeight = parseInt(document.getElementById("height").value);
	
	if(blocks === undefined || blocks.length !== tableWidth * tableHeight) {
		blocks = new Array(tableWidth * tableHeight).fill(0);
	}
	
	if(eventX >= tableWidth) {
		eventX = tableWidth - 1;
		document.getElementById("eventX").value = eventX;
	}
	if(targetX >= tableWidth) {
		targetX = tableWidth - 1;
		document.getElementById("targetX").value = targetX;
	}
	if(eventY >= tableHeight) {
		eventY = tableHeight - 1;
		document.getElementById("eventY").value = eventY;
	}
	if(targetY >= tableHeight) {
		targetY = tableHeight - 1;
		document.getElementById("targetY").value = targetY;
	}
	
	let map = "";
	for(let y=0; y<tableHeight; y++) {
		for(let x=0; x<tableWidth; x++) {
			let classes = "cell";
			let gid = x + y * tableWidth;
			if(targetX==x && targetY==y) {
				classes += " target";
			}
			if(blocks[gid] === BLOCK) {
				classes += " blocked";
			}
			if(eventX==x && eventY==y) {
				classes += " event";
			}
			map += "<div id='g"+ gid + "' class='"+classes+"' onclick='toggleBlock(" + gid + ")'></div>";
		}
		map += "<br style='clear:both;'/>";
	}
	document.getElementById("map").innerHTML = map;
};

function pathfinding(){
	let eventX = parseInt(document.getElementById("eventX").value);
	let eventY = parseInt(document.getElementById("eventY").value);
	let targetX = parseInt(document.getElementById("targetX").value);
	let targetY = parseInt(document.getElementById("targetY").value);
	let tableWidth = parseInt(document.getElementById("width").value);
	let tableHeight = parseInt(document.getElementById("height").value);
	
	let path = L4W_tester.Tester.testPathfinding(tableWidth,tableHeight,eventX,eventY,targetX,targetY,blocks);

	// Disable all input fields
	document.getElementById("eventX").disabled=true;
	document.getElementById("eventY").disabled=true;
	document.getElementById("targetX").disabled=true;
	document.getElementById("targetY").disabled=true;
	document.getElementById("width").disabled=true;
	document.getElementById("height").disabled=true;
	document.getElementById("find").disabled=true;
	document.getElementById("stop").disabled=false;
	stopMovement = false;
	
	// Recursive function to simulate event movement along the path towards Target
	function moveEvent(path, step) {
		if(step < path.length && !stopMovement) {
			// Move event by one step
			document.getElementById("eventX").value = path[step].cell.i;
			document.getElementById("eventY").value = path[step].cell.j;
			
			function printVertexes(vertexes,format) {
				let str = "";
				let tableWidth = parseInt(document.getElementById("width").value);
				let lastJ = 0;
				for(let v of vertexes) {
					if(format && v.cell.j > lastJ) {
						str += "<br/>";
						lastJ = v.cell.j;
					}
					str += (v.cell.i + v.cell.j*tableWidth) + ":" + JSON.stringify(v.key) + ", ";
				}
				return str.substr(0, str.length-2);
			};
			
			// Log D* Lite pathfinding details
			if(path[step].cache !== undefined) {
				/*
				let stepDetails =  "<h2>" + (step+1) + ") " + path[step].cell.i + "," + path[step].cell.j + "</h2>";
				stepDetails += "<b>S</b>: " + printVertexes(path[step].cache.S, true) + "<br/>";
				stepDetails += "<b>U</b>: " + printVertexes(path[step].cache.U, false) + "<br/>";
				stepDetails += "<b>g</b>: " + JSON.stringify(path[step].cache.g) + "<br/>";
				stepDetails += "<b>rhs</b>: " + JSON.stringify(path[step].cache.rhs);
				stepDetails += "<br/>";
				document.getElementById("log").innerHTML += stepDetails;
				*/
				console.log(path[step].cache);
			}
			
			drawMap();
			setTimeout(function() {
				moveEvent(path, step + 1);
			},100);
		} else {
			// End of the path!
			// Enable all input fields
			document.getElementById("eventX").disabled=false;
			document.getElementById("eventY").disabled=false;
			document.getElementById("targetX").disabled=false;
			document.getElementById("targetY").disabled=false;
			document.getElementById("width").disabled=false;
			document.getElementById("height").disabled=false;
			document.getElementById("find").disabled=false;
			document.getElementById("stop").disabled=true;
		}
	}
	
	document.getElementById("log").innerHTML = "";
	moveEvent(path,0);	
};

function stop(){
	stopMovement=true;
};

function toggleBlock(gid) {
	if(blocks[gid] === BLOCK) {
		blocks[gid] = undefined;
	} else {
		blocks[gid] = BLOCK;
	}
	drawMap();
};
</script>

<style type="text/css">
input{
width:3em;
}
div.framed{
border:1px solid black;
padding:1em;
}
div.dynamic{
border:1px dashed black;
background-color:AliceBlue;
}
div.sector{
padding:1em;
margin:1em;
float:left;
}
div.cell{
height:20px;
width:20px;
border:1px solid blue;
float:left;
background-color:white;
}
div.target{
background-color:red;
border:1px dotted black;
}
div.blocked{
background-color:black;
}
div.event{
background-color:yellow;
border:1px dotted black;
}
</style>

<link rel="stylesheet" type="text/css" href="../style/l4w.css">

</head>
<body>
<div class="framed">
<h1>Pathfinding test</h1>
<div style="float:left;">
Map size:
<input id="width" type="number" value="40" min="1" max="50" onchange="drawMap();"/>
<input id="height" type="number" value="40" min="1" max="50" onchange="drawMap();"/>
<br/>
<div class="cell event"></div>&nbsp; Event:
<input id="eventX" type="number" value="1" min="0" max="49" onchange="drawMap();"/>
<input id="eventY" type="number" value="2" min="0" max="49" onchange="drawMap();"/>
<br style="clear:both;"/>
<div class="cell target"></div>&nbsp; Target:
<input id="targetX" type="number" value="37" min="0" max="49" onchange="drawMap();"/>
<input id="targetY" type="number" value="40" min="0" max="49" onchange="drawMap();"/>
<br/>
<p>Click on the cells to toggle blocks</p>
<br/>
<select id="alg">
<option>Basic</option>
<option selected>D* Lite</option>
</select>
<input id="find" type="button" value="Find the path!" onclick="pathfinding();"/>
<input id="stop" type="button" value="Stop" onclick="stop();"/>
<br/><br/>
</div>
<div class="dynamic sector">
<div id="map" class="sector">
Loading...
</div>

<div id="log" class="sector">
</div>

<br style="clear:both;"/>
</div>
<br style="clear:both;"/>
</div>
</body>
</html>
