<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>L4W Mapper</title>
<meta name='viewport' content='width=device-width, initial-scale=0.7, user-scalable=yes'/>
<link rel='icon' href='../style/favicon/edit.ico' />

<meta name="theme-color" content="#ffffff">

<script src="../lib/require.min.js"></script>
<script type='text/javascript'>
var base_path = "../";
let isDevEnv = () => { return location.hostname === "localhost" || location.hostname === "127.0.0.1" || location.hostname === ""; }

if(isDevEnv()) {
	// Enable offline local development by using local files instead of CDNs
	requirejs([base_path + "lib/jquery3.min"],function($){
		requirejs([base_path + "js/l4w-tilesetter.min"],function(l4w){
			finishedLoading();
		});
	});
} else {
	//TODO check Sub Resource Integrity
	requirejs(["https://code.jquery.com/jquery-3.4.1.min.js"],function($){
		requirejs([base_path + "js/l4w-tilesetter.min"],function(l4w){
			finishedLoading();
		});
	});
}

function finishedLoading(){
	if(L4W_tilesetter !== undefined) {
		L4W_tilesetter.TilesetterPage.start();
	} else {
		console.warn("Stilla waiting");
		setTimeout(finishedLoading, 500);
	}
	document.getElementById("footer").style.visibility = "visible";
};
</script>

<link rel="stylesheet" type="text/css" href="../style/l4w.css">

</head>
<body>
<div style="position:fixed;top:10px;left:10px;overflow-y:scroll;height:100%;width:100%">
	<div id="tilePanel" style="position: relative;">
        <canvas id="canvasTile" width="256" height="800" style="border:1px solid black;position:absolute;left:0;top:0;z-index:0">
        Your browser does not support HTML5 Canvas!</canvas>
        
        <canvas id="canvasSelector" width="256" height="800" style="border:1px solid black;position:absolute;left:0;top:0;z-index:0.1;opacity:1;">
        Your browser does not support HTML5 Canvas!</canvas>
    </div>
	<div id="footer" class="footer">
		Game: <a href="/">/</a><br/>
		Editors: <a href="/edit">/edit</a><br/>
		Test: <a href="/test">/test</a><br/>
		Commands: <a href="https://github.com/giovannipessiva/l4w/wiki/Editors">https://github.com/giovannipessiva/l4w/wiki/Editors</a><br/>
		Source code: <a href="https://github.com/giovannipessiva/l4w">https://github.com/giovannipessiva/l4w</a>
	</div>
</div>

<div id="toolsPanel" style="background-color:white;float:right;position:relative;width:256px">
	<div style="border:1px solid black">
		<div id="loginVue">
			<login>
				<template v-slot:logged>
					<table>
						<tr>
						<td><button id="saveButton" type="button" onclick="L4W_tilesetter.TilesetterPage.save();" disabled>Save</button></td>
						<td><button id="reloadButton" type="button" onclick="L4W_tilesetter.TilesetterPage.reload();" disabled>Reload</button></td>
						</tr>
					</table>
				</template>
			</login>
		</div>
	</div>
	<div id="mapDetailPanel" style="border:1px solid black">
		<table>
			<tr>
				<td>Tile</td>
				<td>
					<select id="tiles" onchange="L4W_tilesetter.TilesetterPage.changeTile();"></select>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>Edit mode</td>
				<td>
					<select id="editModes" onchange="L4W_tilesetter.TilesetterPage.changeTileEditMode();">
						<option value="BLOCKS" selected>Blocks</option>
						<option value="ONTOP">On top</option>
					</select>
				</td>
				<td>
				</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>